@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--main-color: #4976ab;
	--font-color-bright: #f2f6f8;
	--font-color-dark: #305073;
	--fill-color: #b7cbe1;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-color);
	color: var(--font-color-bright);
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}

h1 {
	margin: 1rem 0 0;
}

h3 {
	font-weight: 400;
	margin: 1rem 0;
}

.cup {
	background-color: var(--font-color-bright);
	border: 4px solid var(--font-color-dark);
	color: var(--font-color-dark);
	border-radius: 0 0 40px 40px;
	height: 250px;
	width: 180px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
}

.cups {
	display: flex;
	max-width: 400px;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.cup.cup-small {
	height: 100px;
	width: 70px;
	border-radius: 0 0 20px 20px;
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	font-size: 1.4rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: 0.3 ease;
	margin: 6px;
}

.cup.cup-small.full {
	background-color: var(--fill-color);
}

.remaining {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;
	transition: 0.3 ease;
}

.remaining span {
	font-size: 2re;
	font-weight: 600;
}

.remaining small {
	font-size: 1.2rem;
}

.percentage {
	background-color: var(--fill-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 30px;
	height: 0;
	border-radius: 0 0 40px 40px;
	transition: 0.3s ease;
}

.text {
	text-align: center;
	margin: 0 0 6px;
	font-size: 1.6rem;
}
